:root {
    /* cores da marca */
    --A05: #014256;
    --A04: #137492;
    --A03: #199AC0;
    --A02: #08ADDE;
    --A01: #3DD5F3;

    /* cores básicas */
    --C12: #000000;
    --C11: #111111;
    --C10: #2E2E2E;
    --C09: #404040;
    --C08: #595959;
    --C07: #717171;
    --C06: #9C9C9C;
    --C05: #B2B2B2;
    --C04: #CCCCCC;
    --C03: #DEDEDE;
    --C02: #EDEDED;
    --C01: #F7F7F7;
    --CW: #FFFFFF;

    /* tipografia */
    --opens: 'Open Sans', Arial;
    --montserrat: 'Montserrat', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogo {
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inter-navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    margin: 60px 0px 30px;
}

.inter-navegacao a {
    font-family: var(--opens);
    font-weight: 400;
    font-size: 13px;
    color: var(--C07);
}

.inter-navegacao a:hover {
    font-family: var(--opens);
    font-weight: 400;
    font-size: 13px;
    color: var(--A02);

}

.todos-os-produtos-titulo {
    font-family: var(--montserrat);
    font-size: 48px;
    font-weight: 700;
}

.ordenar-por {
    display: flex;
    align-items: center;
}

.ordernar-por-caixa {
    display: flex;
    align-items: center;
    max-width: 234px;
    margin-right: 50px;
    gap: 10px;
}

.ordernar-por-caixa label{
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 16px;
}

#ordernar-por-select-principal {
    appearance: none;

    color: var(--C12);
    border: 1px solid var(--C12);
    font-size: 13px;
    font-family: var(--montserrat);
    font-weight: 600;

    border-radius: 10px;
    outline: none;
    text-align: start;
    box-shadow: none;
    background: url('../../icon/Vector\ 1\ black.svg') no-repeat right center;
    background-position: right 50%;
    background-size: 15px;
    background-color: var(--CW);
    background-position: right 9px center;
    padding: 10px 30px 10px 10px;
}

#ordernar-por-select-principal:hover {
    background-color: var(--C02);
    cursor: pointer;
}

.ordenar-por-filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 25px; */
}

#ordernar-por-select {
    appearance: none;

    color: var(--CW);
    border: none;
    font-size: 13px;
    font-family: var(--opens);
    font-weight: 400;

    border-radius: 10px;
    outline: none;
    text-align: start;
    box-shadow: none;
    background: url('../../icon/Vector\ 1.svg') no-repeat right center;
    background-position: right 50%;
    background-size: 15px;
    background-color: #000000;
    background-position: right 9px center;
    padding: 10px 30px 10px 10px;
}

#ordernar-por-select:hover {
    background-color: var(--C11);
    cursor: pointer;
}

.linha-de-produtos {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    min-height: 582px;
}

.linha-de-produtos li{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: space-between;
}

.titulo-do-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    color: var(--C12);
}

.titulo-do-item h2{
    font-family: var(--opens);
    font-size: 24px;
    font-weight: 700;
}

.avaliacao-do-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.avaliacao-do-item img{
    width: 20px;
}

.avaliacao-do-item p{
    font-family: var(--opens);
    font-size: 18px;
    font-weight: 400;
}

.descricao-detalhadada-do-item {
    font-family: var(--opens);
    font-size: 13px;
    font-weight: 400;
    max-width: 300px;
    color: var(--C07);
}

.footer-do-item {
    display: flex;
    justify-content: space-between;
}

.fim-do-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.divisoria-entre-comentarios {
    border: 2px solid #F5F5F5;
    display: flex;
    margin: 15px 0px;
    justify-content: center;
}

.desconto-do-item {
    font-family: var(--opens);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--C07);
    text-decoration: line-through;
}

.preco-do-item {
    font-family: var(--opens);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

/* checkbox coração do item */
.adicionar-aos-favoritos-item {
    display: none;
}
  
.checkbox-coracao-item-label {
    width: 25px;
    height: 25px;
    display: block;
    background-image: url('../../icon/icon\ heart.svg');
    background-size: cover;
    cursor: pointer;
}
  
.adicionar-aos-favoritos-item:checked + .checkbox-coracao-item-label {
    background-image: url('../../icon/icon\ heart\ filled.svg');
}

/* checkbox cesta do item */
.adicionar-ao-carrinho {
    display: none;
}
  
.checkbox-carrinho-item-label {
    width: 22px;
    height: 22px;
    display: block;
    background-image: url('../../icon/icon\ basket.svg');
    background-size: cover;
    cursor: pointer;
}
  
.adicionar-ao-carrinho:checked + .checkbox-carrinho-item-label {
    background-image: url('../../icon/icon\ basket\ filled.svg');
}

.mobile-in {
    display: none;
}

@media (max-width: 768px) {
    .mobile-in {
        display: flex;
    }

    .mobile-out {
        display: none!important;
    }

    .inter-navegacao {
        max-width: 85px;
    }

    .inter-navegacao a {
        font-size: 6.5px;
    }

    .inter-navegacao img {
        width: 3px;
    }

    .todos-os-produtos-titulo {
        font-size: 24px;
    }

    .linha-de-produtos li a img {
        width: 120px;
        height: 148px;
        border-radius: 5px;

    }

    .avaliacao-do-item {
        display: none;
    }

    .descricao-detalhadada-do-item {
        display: none;
    }

    .linha-de-produtos {
        min-height: 217px;
    }

    .titulo-do-item h2 {
        font-size: 12px;
    }

    .desconto-do-item {
        font-size: 8px;
    }

    .preco-do-item {
        font-size: 10px;
    }

    .checkbox-coracao-item-label {
        width: 9px;
        height: 9px;
    }

    .checkbox-carrinho-item-label {
        width: 9px;
        height: 9px;
    }

    .ordernar-por-caixa label {
        font-size: 8px;
    }

    #ordernar-por-select-principal {
        font-size: 8px;
        border-radius: 5px;
        padding: 5px 15px 5px 8px;
        background-position: right 7px center;
        background-size: 5px;
    }

    #ordernar-por-select {
        font-size: 6.5px;
        border-radius: 5px;
        padding: 5px 15px 5px 8px;
        background-position: right 7px center;
        background-size: 5px;
    }

    .linha-de-produtos {
        justify-content: space-around;
    }

}