:root {
    /* cores da marca */
    --A05: #014256;
    --A04: #137492;
    --A03: #199AC0;
    --A02: #08ADDE;
    --A01: #3DD5F3;

    /* cores básicas */
    --C12: #000000;
    --C11: #111111;
    --C10: #2E2E2E;
    --C09: #404040;
    --C08: #595959;
    --C07: #717171;
    --C06: #9C9C9C;
    --C05: #B2B2B2;
    --C04: #CCCCCC;
    --C03: #DEDEDE;
    --C02: #EDEDED;
    --C01: #F7F7F7;
    --CW: #FFFFFF;

    /* tipografia */
    --opens: 'Open Sans', Arial;
    --montserrat: 'Montserrat', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogo {
    margin-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 72.625rem;
}

.inter-navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 11.25rem;
    margin: 3.75rem 0 1.875rem;
}

.inter-navegacao a {
    font-family: var(--opens);
    font-weight: 400;
    font-size: 0.8125rem;
    color: var(--C07);
}

.inter-navegacao a:hover {
    color: var(--A02);
}

.todos-os-produtos-titulo {
    font-family: var(--montserrat);
    font-size: 3rem;
    font-weight: 700;
}

.todos-os-produtos-titulo span {
    color: var(--A01);
}

.ordenar-por {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.ordernar-por-caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.ordernar-por-caixa label {
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 1rem;
}

#ordernar-por-select-principal {
    appearance: none;

    color: var(--C12);
    border: 1px solid var(--C12);
    font-size: 13px;
    font-family: var(--montserrat);
    font-weight: 600;

    border-radius: 10px;
    outline: none;
    text-align: start;
    box-shadow: none;
    background: url('../../icones/Vector\ 1\ black.svg') no-repeat right center;
    background-position: right 50%;
    background-size: 15px;
    background-color: var(--CW);
    background-position: right 9px center;
    padding: 10px 30px 10px 10px;
}

#ordernar-por-select-principal:hover {
    background-color: var(--C02);
    cursor: pointer;
}

.ordenar-por-filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

#ordernar-por-select {
    appearance: none;

    color: var(--CW);
    border: none;
    font-size: 13px;
    font-family: var(--opens);
    font-weight: 400;

    border-radius: 10px;
    outline: none;
    text-align: start;
    box-shadow: none;
    background: url('../../icones/Vector\ 1.svg') no-repeat right center;
    background-position: right 50%;
    background-size: 15px;
    background-color: #000000;
    background-position: right 9px center;
    padding: 10px 30px 10px 10px;
}

#ordernar-por-select:hover {
    background-color: var(--C11);
    cursor: pointer;
}

.linha-de-produtos {
    display: flex;
    justify-content: space-between;
    margin-top: 3.75rem;
    min-height: 36.375rem;
}

.linha-de-produtos li {
    display: flex;
    flex-direction: column;
    max-width: 18.75rem;
    justify-content: space-between;
}

.imagem-do-item-e-promocao {
    display: flex;
    position: relative;
}

.promocao {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 5px 10px 5px 10px;
    background: red;
    color: var(--CW);
    border-radius: 10px;
    top: 12px;
    left: 205px;
    font-size: 0.9375rem;
    font-family: var(--opens);
    font-weight: 700;
}

.titulo-do-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px;
    color: var(--C12);
}

.titulo-do-item h2 {
    font-family: var(--opens);
    font-size: 1.5rem;
    font-weight: 700;
}

.titulo-do-item h2:hover {
    color: var(--A04);
}

.avaliacao-do-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.avaliacao-do-item img {
    width: 1.25rem;
}

.avaliacao-do-item p {
    font-family: var(--opens);
    font-size: 1.125rem;
    font-weight: 400;
}

.descricao-detalhadada-do-item {
    margin-top: 10px;
    display: flex;
    font-family: var(--opens);
    font-size: 13px;
    font-weight: 400;
    color: var(--C07);
    line-height: 17.7px;

}

.footer-do-item {
    display: flex;
    justify-content: space-between;
}

.fim-do-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.divisoria-entre-comentarios {
    border-top: 2px solid #F5F5F5;
    display: flex;
    margin: 15px 0px;
    justify-content: center;
}

.desconto-do-item {
    font-family: var(--opens);
    font-size: 12px;
    font-weight: 400;
    color: var(--C07);
    text-decoration: line-through;
}

.preco-do-item {
    font-family: var(--opens);
    font-size: 1.25rem;
    font-weight: 700;
}

/* checkbox coração do item */
.adicionar-aos-favoritos-item {
    display: none;
}

.checkbox-coracao-item-label {
    width: 1.5625rem;
    height: 1.5625rem;
    display: block;
    background-image: url('../../icones/icon\ heart.svg');
    background-size: cover;
    cursor: pointer;
}

.adicionar-aos-favoritos-item:checked+.checkbox-coracao-item-label {
    background-image: url('../../icones/icon\ heart\ filled.svg');
}

/* checkbox cesta do item */
.adicionar-ao-carrinho {
    display: none;
}

.checkbox-carrinho-item-label {
    width: 1.375rem;
    height: 1.375rem;
    display: block;
    background-image: url('../../icones/icon\ basket.svg');
    background-size: cover;
    cursor: pointer;
}

.adicionar-ao-carrinho:checked+.checkbox-carrinho-item-label {
    background-image: url('../../icones/icon\ basket\ filled.svg');
}

.mobile-in {
    display: none;
}

.carregar-mais {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.carregar-mais a {
    font-size: 15px;
    font-family: var(--montserrat);
    font-weight: 400;
    color: var(--C07);
}

.carregar-mais a:hover {
    color: var(--C10);
    font-weight: 420;
}

.mais-detalhes dt {
    display: none;
}


@media (max-width: 768px) {
    .descricao-detalhadada-do-item {
        display: none;
    }

    .mais-detalhes {
        margin-bottom: 10px;
    }

    .mais-detalhes dt {
        margin-top: 5px;
        display: block;
        color: var(--C05);
        text-decoration: underline;
        font-family: var(--opens);
        font-size: 7px;
        font-weight: 400;
    }

    .mais-detalhes dt:hover {
        color: var(--C07);
    }

    .catalogo {
        max-width: 20rem;
        margin-bottom: 3.75rem;
    }

    .mobile-in {
        display: flex;
    }

    .mobile-out {
        display: none !important;
    }

    .carregar-mais {
        display: flex;
        margin-top: 1.875rem;
    }

    .carregar-mais a {
        font-size: 10px;
    }

    .carregar-mais a img {
        width: 8px;
    }

    .inter-navegacao {
        max-width: 5.3125rem;
        margin: 30px 0 10px;
    }

    .inter-navegacao a {
        font-size: 6.5px;
    }

    .inter-navegacao img {
        width: 3px;
    }

    .todos-os-produtos-titulo {
        font-size: 24px;
    }

    .linha-de-produtos li {
        max-width: 7.5rem;
    }

    .linha-de-produtos li a img {
        width: 7.5rem;
        height: 9.25rem;
        border-radius: 5px;
    }

    .promocao {
        padding: 2px 3px 2px 3px;
        background: red;
        border-radius: 5px;
        top: 7px;
        left: 75px;
        font-size: 0.5rem;
    }

    .titulo-do-item {
        margin-top: 5px;
    }

    .avaliacao-do-item {
        display: none;
    }

    .descricao-detalhadada-do-item.ativo {
        line-height: normal;
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
        font-size: 5px;
        color: var(--C05);
    }

    .linha-de-produtos {
        min-height: 13.5625rem;
        justify-content: space-around;
    }

    .titulo-do-item h2 {
        font-size: 12px;
    }

    .desconto-do-item {
        font-size: 8px;
    }

    .preco-do-item {
        font-size: 10px;
    }

    .checkbox-coracao-item-label {
        width: 13px;
        height: 13px;
    }

    .checkbox-carrinho-item-label {
        width: 12px;
        height: 12px;
    }

    .ordernar-por-caixa label {
        font-size: 8px;
    }

    #ordernar-por-select-principal {
        font-size: 8px;
        border-radius: 5px;
        padding: 5px 15px 5px 8px;
        background-position: right 7px center;
        background-size: 5px;
    }

    #ordernar-por-select {
        font-size: 6.5px;
        border-radius: 5px;
        padding: 5px 15px 5px 8px;
        background-position: right 7px center;
        background-size: 5px;
    }

    .ordernar-por-caixa {
        width: 40%;
    }

    .ordenar-por-filtros {
        width: 55%;
    }

    .fim-do-item {
        gap: 5px;
    }
}