:root {
    /* cores da marca */
    --A05: #014256;
    --A04: #137492;
    --A03: #199AC0;
    --A02: #08ADDE;
    --A01: #3DD5F3;

    /* cores básicas */
    --C12: #000000;
    --C11: #111111;
    --C10: #2E2E2E;
    --C09: #404040;
    --C08: #595959;
    --C07: #717171;
    --C06: #9C9C9C;
    --C05: #B2B2B2;
    --C04: #CCCCCC;
    --C03: #DEDEDE;
    --C02: #EDEDED;
    --C01: #F7F7F7;
    --CW: #FFFFFF;

    /* tipografia */
    --opens: 'Open Sans', Arial;
    --montserrat: 'Montserrat', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

}

footer {
    background-color: var(--A01);
    width: 100%;
    min-height: 492px;
    display: flex;
    justify-content: center;
}

.corpo-do-footer {
    width: 1155px;
}

.conteudo-do-footer {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: var(--C10);
    font-family: var(--montserrat);
}

.conteudo-do-footer h2 {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.015em;
    margin-bottom: 2rem;
    color: var(--C12);
}

.conteudo-do-footer a,
.contato a,
.redes-sociais {
    margin-top: 1rem;
}

.informacoes a {
    font-weight: 500;
    display: flex;
    color: var(--C10);
}

.redes-sociais {
    max-width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contato {
    width: 100%;
    max-width: 360px;
}

.contato a {
    display: flex;
    color: var(--C10);
}

footer a:hover {
    color: var(--C12);
    font-weight: bold;
}

.endereco {
    max-width: 260px;
    line-height: 30px;
}

.divisoria-footer {
    border-top: 2px solid var(--C12);
    margin-top: 1rem;
}

.direitos-reservados {
    font-family: var(--montserrat);
    font-size: 18px;
    font-weight: 400;
    color: var(--C11);
    margin-top: 80px;
}


@media (max-width: 1050px) {}

@media (max-width: 768px) {
    footer {
        min-height: 113px;
    }

    .logo a img {
        height: 13px;
    }

    .corpo-do-footer {
        width: 250px;
    }

    .conteudo-do-footer h2 {
        font-size: 8px;
    }

    .conteudo-do-footer a {
        font-size: 6.5px;
    }

    .contato {
        max-width: 90px;
    }

    .endereco {
        line-height: 10px;
    }

    .conteudo-do-footer h2 {
        margin-bottom: 5px;
    }

    .conteudo-do-footer a {
        margin-top: 2px;
    }

    .informacoes a {
        margin-top: 5px;
    }

    .divisoria-footer {
        margin-top: 2px;
        border-top: 0.5px solid var(--C12);
    }

    .redes-sociais {
        display: none;
    }

    .direitos-reservados {
        margin-top: 20px;
        font-size: 6.5px;
    }

    .conteudo-do-footer {
        margin-top: 13px;
    }
}