:root{
    --cor-primaria: #3DD5F3;
    --fonte-principal: 'Open Sans', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-tamanho: 1em;
    --fonte-cor: #1d1d1d;
}

.nav-bar{
    background-color: var(--cor-primaria);
    font-size: var(--fonte-tamanho);
    font-family: var(--fonte-principal);
    color: var(--fonte-cor);
    font-weight: 400;
    height: 5em;
}

.lista-nav {
    display: flex;
    padding-right: 3em;
}
.imagem_logo {
    height: 2em;
    padding-right: 1em;
}
.icones {
    width: 20px;
    gap: 1em;
}
.barra-pesquisa {
    height: 1.5em;
    width: 300px;
}

.barra-pesquisa-img::placeholder { 
    width: 100%;
    background:url("../icones/icon\ search.png") no-repeat;
    background-position: 22em;
    font-size: 12px;
    font-weight: 400;
}

.container-fluid{
    width: 100%;
}

.formulario{
    width: 300px;
    border: none;
    border-radius: 7px;
    padding-left: 0.5em;
}

.lista-icones{
    margin-left: 1em;
    gap: 1em;
}

.container-fluid{
    width: 100%;
}

.botao-side-bar{
    display: none;       
}

.offcanvas{
    display: none;
}

#offcanvasRight {
    width: 360px; 
  }

  @media (max-width: 768px) {
    .nav-bar {
        background-color: var(--cor-primaria);
        font-size: 14px;
        font-family: var(--fonte-principal);
        color: var(--fonte-cor);
        font-weight: 400;
        height: 5em;
        padding: 1em;
    }

    .lista-nav {
        display: none;
    }

    .formulario {
        width: 200px;
        padding-left: 0;
        height: 2.5em;
        padding-left: 0.5em;
        margin-left: 9em;
    }

    .imagem_logo {
        height: 25px;
    }

    .barra-pesquisa {
        margin-left: 0em;
        height: 20px;
        width: 1px;
    }

    .barra-pesquisa-img::placeholder {
        width: 100%;
        background: url("../icones/icon search.png") no-repeat;
        background-position: 18em;
        font-size: 9px;
        font-weight: 400;
    }

    .lista-icones {
        display: flex;
        margin-left: 10em;
        margin-right: 0;
    }

    #navbarSupportedContent {
        width: 100%;
    }

    .botao-side-bar {
        display: block;
        height: 2.3em;
    }

    .icone-hamburguer {
        width: 1.5em;
    }

    .offcanvas {
        display: block;
        background-color: var(--cor-primaria);
    }

    .btn-close {
        align-self: end;
    }

    #offcanvasRight {
        width: 25%;
    }

    .itens-side-bar {
        text-decoration: none;
        color: var(--fonte-cor);
        font-size: 18px;
    }
}


@media (max-width: 365px) {
    .nav-bar{
        background-color: var(--cor-primaria);
        font-size: 8px;
        font-family: var(--fonte-principal);
        color: var(--fonte-cor);
        font-weight: 400;
        height: 6em;
        padding: 1em;
    }

    .container-fluid{
        display: flex;
        flex-direction: row;
    }

    .lista-nav{
        display: none;


    }
    .formulario{
        width: 120px;
        padding-left: 0;
        height: 2.5em;
        padding-left: 0.5em;
        margin-left: 1em;

    }

    .imagem_logo{
        height: 18px;
        
    }

    .barra-pesquisa{
        margin-left:0em ;
        height: 20px;
        width: 1px;
    }

    .barra-pesquisa-img::placeholder{
        width: 100%;
        background:url("../icones/icon\ search.png") no-repeat;
        background-position: 10.5em;
        font-size: 9px;
        font-weight: 400;
    }

    .lista-icones{
        display: flex;
        margin-left: 16em;
        margin-right: 0;
    }

    #navbarSupportedContent{
        width: 100%;
    }

    .botao-side-bar{
        display: block;
        height: 2.3em;
    }

    .icone-hamburguer{
        width: 1.5em;
    }

    .offcanvas{
        display: block;
        background-color: var(--cor-primaria);
    }

    .btn-close{
        align-self: end;
    }
    #offcanvasRight {
        width: 35%; 
    }
    
    .itens-side-bar{
        text-decoration: none;
        color: var(--fonte-cor);
        font-size: 12px;
    }
}