@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* estilo do seleto */
.seletorCor, .seletorTamamho {
    position: absolute;
    color: #000;
    font-family: "Open Sans";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    background: transparent;
    border-radius: 0.3125rem;
    border: none;
    height: 1rem;
    width: 100%;
    z-index: 2;
}

.seletorTamamho {

}


.cores, .tamanhos  {
    z-index: 1;
    display: none;
    flex-direction: column;
    position: absolute;
    background: #EDEDED;
    height: 3rem;
    width: 100%;
    border-radius: 0.3125rem;
    top: 20px;
}

.ativadoCorShort {
    display: flex !important;
}

.itemCores, .itemTamanho {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1rem;
    width: 100%;
    border-radius: 0.3125rem;
}

.itemCores:hover {
    background: #00000079;
}

.itemTamanho:hover {
    background: #00000079;
}

/* estilo do seleto */

/*-----------Contador------------*/
.contador {
    display: flex;
    padding-bottom: 0.1rem;
}

.btnContador {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    font-size: 0.4rem;
    border-radius: .9rem;
    height: 0.6rem;
    width: 0.6rem;
    position: relative;
}

.btnMenos {
    left: 0.7rem;
    top: 0.1rem;
}

.btnMais {
    right: 0.7rem;
    top: 0.1rem;
}

.quantidade::-webkit-inner-spin-button {
    all: unset; 
}
/*-----------Contador------------*/


body {
    height: 100vh;
}

header {
    width: 100%;
    background: #3DD5F3;
}

footer {
    height: 7rem;
    width: 100%;
    background: #3DD5F3;
}


/* -----------pagina---------- */
#conteudo {
    min-height: calc(100% - 9.6rem);
    width: 100%;
}
/* -----------pagina---------- */
/* -------------Tela para conteudo-------------- */
.tela {
    max-width: 72.5rem;
    width: 100%;
}
/* -------------Tela para conteudo-------------- */
/* ---------------Cabeçario da pagina---------------- */
.cabeçario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 6rem;
    margin: 2rem 1.5rem;
}

.titulo {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: solid 0.15rem #F5F5F5;
    height: 3.5rem;
}

.titulo span {
    color: #3DD5F3;
}

.filtroTodos {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    align-items: center;
}



.checkFiltro {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#filtro {
    height: 1.5rem;
    width: 5rem;
    padding: 0 0.5rem;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.3125rem;
    background: #000;
}
/* ---------------Cabeçario da pagina---------------- */
/* ----------Div que ficara todos os produtos---------- */
.todosProduto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
}
/* ----------Div que ficara todos os produtos---------- */
/* --------------------Produtos e suas info--------------------- */
.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 63.688rem;
    column-gap: 0.5rem;
}

.imagemCarrinho {
    max-width: 6.875rem;
    max-height: 6.875rem;
    position: relative;
    display: flex;
}

.imagemCarrinho img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.promoçao{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2.5rem;
    height: 1rem;
    background: red;
    color: #FFF;
    border-radius: 5px;
    top: 10px;
    left: 65px;
    font-size: 0.5rem;
    font-family: "Open Sans";
}

.conteudoProduto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 6.875rem;
    max-width: 72rem;
}

.nomeProduto{
    color: #000;
    font-family: "Montserrat";
    font-size: .625rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}

.descriçãoProduto p{
    color: #737373;
    font-family: "Open Sans";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    
}

.seletoProduto{
    display: flex;
    align-items: start;
    margin-top: 0.2rem;
    width: 100%;
    gap: 0.5rem;

}

.tamanho, .cor {
    position: relative;
    display: flex;
    color: #000;
    font-family: "Open Sans";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    background: #EDEDED;
    border-radius: 0.3125rem;
    border: none;
    min-width: 5rem;
    max-width: 6rem;
    min-height: 1rem;

}

.coloração {
    display: flex;
    position: relative;
    height: 100%;
}

.imgSeta{
    position: absolute;
    top: 5px;
    left: 4.2rem;
}

.corCirculo {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0.1rem;
    z-index: 1;
}



.preçoIcon {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.preço {
    padding-bottom: 0.2rem;
    color: #000;
    font-family: "Open Sans Hebrew";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.preço span {
    color: #737373;
    font-family: "Open Sans";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: line-through;
}

.contadorIcon {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.iconeProduto a {
    display: flex;
    align-items: end;
}

.quantidade {
    max-width: 2rem;
    max-height: 1rem;
    border-radius: 0.3125rem;
    border: 1px solid #595959;
    color: #595959;
    text-align: center;
    font-family: "Open Sans";
    font-size: .5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* --------------------Produtos e suas info--------------------- */
/* -------------------Frete--------------------------- */
.frete {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4.4rem;
    background: #3DD5F3;
    border-radius: 0.3125rem;
    gap: 1rem;
}

.freteTexto {
    text-align: center;
    font-family: "Montserrat";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.freteTexto span {
    color:  #111;
    text-align: center;
    font-family: "Montserrat";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.freteInput {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.freteInput input{
    width: 5.9375rem;
    height: 1.125rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 0.5px solid  #9C9C9C;
    background:  #FFF;
    text-align: center;
    color:  #9C9C9C;
    text-align: start;
    font-family: "Montserrat";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 0.5rem;
}

.freteInput a{
    align-items: center;
    justify-content: center;
}

.freteInput a img{
    width: 0.6875rem;
    height: 0.6875rem;
}

.freteCep a{
    color:  #111;
    text-align: start;
    font-family: "Montserrat";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-bottom: 1rem;
}
/* -------------------Frete--------------------------- */

/* -----------------resumo dos item pedidos---------------- */
.resumo {
    display: flex;
    min-width: 7rem;
    
    justify-content: space-between;
    align-items: start;
    height: 11.5rem;
    padding: 2rem 1.2rem 0;
}

.resumoPedido {
    color: #000;
    font-family: "Montserrat";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resumoPedido span {
    color: var(--C06, #9C9C9C);
    font-family: "Open Sans";
    font-size: .625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#maisInfo {
    border: none;
    color: #737373;
    text-align: right;
    font-family: "Open Sans Hebrew";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.finalizar {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.3rem;
}

.btnFinalizar {
    justify-self: end;
    border-radius: 0.3125rem;
    background:  #111;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 1.3rem;
    width: 7rem;
    border: none;
}

.valorTotal {
    color: #000;
    font-family: "Montserrat";
    text-align: right;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.valorParcela {
    color: #737373;
    text-align: right;
    font-family: "Open Sans Hebrew";
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* -----------------resumo dos item pedidos---------------- */

@media screen and (max-width: 900px) and (min-width: 600px){

}



@media (min-width: 770px) {
    header {
        height: 6rem;
    }
    footer {
        height: 30.75rem;
    }

    #conteudo {
        display: flex;
        justify-content: center;
        min-height: calc(100% - 36.75rem);
        width: 100%;
    
    }

    /* ----------Cabeçario do conteudo---------- */
    .titulo {
        font-size: 3rem;
    }

    .filtroTodos {
        gap: 2rem;
        font-size: 1.5rem;
        padding-top: 2rem;
    }
    
    #selecionarTudo, .checkEstilo {
        min-height: 1rem;
        min-width: 1rem;
        background-color: #000;
    }

    #selecionarTudo {
        margin-top: 0.4rem;
    }

    #filtro {
        font-size: 1.25rem;
        width: 7.313rem;
        height: 2.313rem;
    }

    /* ----------Cabeçario---------- */

    /* -----------Produtos-------------------- */
    .produtos {
        padding-bottom: 2rem;
        border-bottom: solid 0.15rem #F5F5F5;
    }

    .imagemCarrinho {
        min-width: 18.75rem;
        min-height: 18.75rem;
    }

    .promoçao {
        width: 5.188rem;
        height: 1.875rem;
        left: 200px;
        top: 15px;
        font-size: 1rem;
        border-radius: 10px;
    }

    .conteudoProduto {
        min-width: 18.75rem;
        min-height: 18.75rem;
    }

    .nomeProduto{
        font-size: 2rem;
    }

    .descriçãoProduto p{
        font-size: 1.1rem;
    }

    .tamanho, .cor {
        min-width: 9.75rem;
        min-height: 2.375rem;
        font-size: 1rem;
        border-radius: 15px;
    }

    .imgSeta{
        height: 1.4rem;
        width: 1.2rem;
        left: 8.2rem;
        top: 0.5rem;
    }

    .corCirculo {
        height: 1rem;
        width: 1rem;
        left: 0.5rem;
        top: 0.7rem;
    }

    .quantidade {
        min-width: 5.813rem;
        min-height: 1.875rem;
        font-size: 1rem;
        border-radius: 0.6rem;
    }

    .btnContador {
        font-size: 2rem;
        border-radius: 1rem;
        height: 1.4rem;
        width: 2rem;
    }

    .btnMenos {
        left: 2.2rem;
    }
    
    .btnMais {
        right: 2.2rem;
    }

    .preço {
        font-size: 1.625rem;
    }

    .preço span{
        font-size: 1.1rem;
    }

    .iconeProduto a img {
        width: 2rem;
        height: 2rem;
    }

    /* -----------Produtos-------------------- */

    /* -------------------Frete----------------- */
    .frete {
        margin-top: 2rem;
        height: 10rem;
    }

    .freteTexto{
        font-size: 1.7rem;
    }

    .freteTexto span {
        font-size: 1.7rem;
    }

    .freteInput input{
        width: 21.875rem;
        height: 3.75rem;
        border-radius: 20px;
        font-size: 1.5rem;
    }

    .freteInput a img{
        width: 1.875rem;
        height: 1.875rem;
    }

    .freteCep a{
        font-size: 1rem;
    }
    /* -------------------Frete----------------- */

    /* ---------Resumo do pedido ---------- */

    .resumo {
        height: 18.688rem;
        max-width: 72.5rem;
    }

    .resumoPedido, .valorTotal {
        font-size: 2.25rem;
    }

    .resumoPedido span, .valorParcela {
        font-size: 1.563rem;
    }
    
    #maisInfo {
        font-size: 1rem;
    }

    .btnFinalizar {
        height: 3.688rem;
        width: 17.125rem;
        font-size: 1.5rem;
    }
    /* ---------Resumo do pedido ---------- */

    /* ---------------- select -----------------*/
    .cores, .tamanhos {
        min-width: 9.75rem;
        min-height: calc(2.375rem * 3);
        top: 50px;
    }

    .itemCores, .itemTamanho {
        min-height: 2.375rem
    }

    .seletorCor, .seletorTamamho {
        min-width: 9.75rem;
        min-height: 2.375rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        font-family: "Open Sans ";
    }
    /* ---------------- select -----------------*/

  }

@media (min-width: 900px) {

    /* ----------Cabeçario do conteudo---------- */
    .titulo {
        border: none;
        font-size: 3rem;
    }

    .cabeçario {
        flex-direction: row;
        border-bottom: solid 0.15rem #F5F5F5;
    }
}