footer{
    background-color: var(--cor-primaria);
    bottom: 0;
    width: 100%;
    font-family: var(--fonte-secundaria);
    color: var(--fonte-cor);
    margin-bottom: 0;
    
}
.elementos-footer{
    padding: 4em;
}
h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}
li{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #2E2E2E;
    margin-right: 5em;
    
}
.icones-footer{
    display: block;
    height: 1.8em;
    margin-bottom: 0;
}
.direitos{
    font-size: 14px;
    font-weight: 400;
    color: #111;
    margin: 0 0 0 15em;
    padding-bottom: 3em;
}
@media (max-width: 768px) {
    .elementos-footer {
        padding: 1em;
    }

    h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    li {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .imagens-footer {
        display: none;
    }

    .direitos {
        font-size: 12px;
        margin: 0 0 0 6em;

    }
}

@media (max-width: 365px){
    .elementos-footer{
        margin-top: 10px;
        padding: 0.5em;
    }
    hr{
        margin: 4px 0 4px;
    }
    h3{
        font-size: 8px;
        font-weight: 500;
        margin-bottom: 7px;
    }
    li{
        font-size: 6.5px;
        font-weight: 400;
        margin-bottom: 1px;
        color: #2E2E2E;
        margin-right: 2em;
        
    }
    .imagens-footer{
        display: none;
    }
    .direitos{
        font-size: 6.5px;
        font-weight: 400;
        color: #111;
        margin: 0 0 1em 6em;
    }
}