footer{
    background-color: var(--cor-primaria);
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: var(--fonte-secundaria);
    color: var(--fonte-cor);
}
.elementos-footer{
    padding: 4em;
}
h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}
li{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #2E2E2E;
    margin-right: 5em;
    
}
.icones-footer{
    height: 1.8em;
    margin-bottom: 0;
}
.direitos{
    font-size: 14px;
    font-weight: 400;
    color: #111;
    margin: 0 0 2em 15em;
}