/* --------------Navegação header ------------------------ */
header{
    width: 100%;
    background: #3DD5F3;
}
#navegaHeader {
    height: 2.6rem;
    width: 100%;
    max-width: 72.5rem;
    background: #3DD5F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 20;
}
.fixaBarraMobi{
    position: fixed !important;
}

.logoEsporte {
    width: 5rem;
}

.logoEsporte img {
    height: 100%;
    width: 100%;
}

.iconePesquisa {
    display: flex;
    align-items: center;
    z-index: 100;
}

.navega {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.labelPesquisarPagina {
    height: 0.8rem;
    width: 0.7rem;
    position: absolute;
    left: 80px;
}

.labelPesquisarPagina img {
    height: 100%;
    width: 100%;
}

.entradaPesquisa {
    display: flex;
    position: relative;
    height: 1rem;
    width: 6.25rem;
}

#pesquisarPagina {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 0.406rem;
    border: none;
}

.iconesUsuario {
    gap: 0.1rem;
    height: 2rem;
}

.hamburguerClick {
    z-index: 1;
}

.iconereferencia {
    height: 1.1rem;
    width: 1.1rem;
}

.iconereferencia img{
    height: 100%;
    width: 100%;
}

.links {
    position: absolute;
    min-height: calc(100%);
    padding-top: 3rem;
    right: 0;
    top: 0;
    width: 11.813rem;
    background: #3DD5F3;
    z-index: 10;
}

.listaLink {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.7rem;
    padding: 1rem;
}

.desativar {
    display: none;  
}

.listaLink ul {
    border-bottom: solid 1px #000;
    padding: 1rem 0;
}

.listaLink ul a{
    color: #000;
    text-decoration: none;
    font-family: "Open Sans";
}

@media (min-width: 770px) {

    .fixaBarra{
        position: fixed !important;
    }
    
    .corpo-do-footer{
        z-index: 11;
    }

    #navegaHeader {
        height: 6rem;
        max-width: 72.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 0 1rem;
    }

    .logoEsporte {
        min-width: 10rem;
        height: 3rem;
    }
    
    .iconePesquisa {
        display: flex;
        align-items: center;
    }
    
    .navega {
        display: flex;
        align-items: center;
        margin: 0 5px;
    }
    
    .labelPesquisarPagina {
        height: 1rem;
        width: 1rem;
        left: 170px;
    }
    
    .entradaPesquisa {
        height: 2rem;
        max-width: 18.75rem;
        width: 12rem;
    }
    
    #pesquisarPagina {
        border-radius: 10px;
        width: 100%;
        font-size: 1rem;
    }
    
    .iconesUsuario {
        gap: 0.5rem;
        height: 2rem;
    }
    
    .iconereferencia {
        height: 1.5rem;
        width: 1.5rem;
    }

    .links {
        top: 6rem;
    }

    .listaLink {
        display: flex;
        gap: 1rem;
        font-size: 1rem;
        
    }

}


@media (min-width: 960px){

    .hamburguerClick{
        display: none;
    }

    .fixaBarra {
        display: none;
    }

    .links {
        display: flex;
        position: initial;
        align-items: center;
        justify-content: center;
        height: 6rem;
        padding: 0;
        width: 100%;
    }

    .listaLink {
        flex-direction: row;
    }
    
    .desativar {
        display: flex;  
    }
    
    .listaLink ul {
        border-bottom: none;
        padding: 0;
    }

}

/* --------------Navegação header ------------------------ */