.sobre-nos {
    overflow: hidden;
    padding: 20px;
    margin-top: 10em;
    background: #111;
    width: 70%;
    height: 1350px; 
    margin: auto;
}

.titulo-sobre-nos {
    font-family: 'Montserrat';
    color: #DEDEDE;
    font-size: 36px;
    font-weight: 600;
}

.sobre-nos-1 {
    width: 1160px;
    height: 240px;
    padding: 20px;
    position: relative;
    margin: 4em auto;
    
}

.sobre-nos-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../imagens/fotos-sobre-nós/02.jpg');
    background-size: cover;
    opacity: 0.05; /* Opacidade da imagem de fundo */
}

.conteudo {
    position: relative; /* Garante que o conteúdo esteja acima do pseudo-elemento */
    z-index: 1; /* Coloca o conteúdo na frente do pseudo-elemento */
    padding: 20px;
    margin: auto;
}
.texto-sobre-nos{
    font-size: 24px;
    color: #B2B2B2;
}
.sobre-nos-2{
    width: 1160px;
    height: 240px;
    padding: 20px;
    position: relative;
    margin: 4em auto;
}
.sobre-nos-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../imagens/fotos-sobre-nós/01.jpg');
    background-size: cover;
    opacity: 0.05; /* Opacidade da imagem de fundo */
}
.sobre-nos-3{
    width: 1160px;
    height: 450px;
    padding: 20px;
    position: relative;
    margin: 4em auto;
}
.sobre-nos-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../imagens/fotos-sobre-nós/03.jpg');
    background-size: cover;
    opacity: 0.05; /* Opacidade da imagem de fundo */
}
.titulo-lista{
    font-size: 28px;
    color: #DEDEDE;
    padding: 0.5em;
}
